---
RNG_SEED: -1
MODULE: 'resnet101'
GPUS: '1,2,3,4'
NUM_WORKERS_PER_GPU: 4
VERSION: 'cifar10_resnet101'

DATASET:
    DATASET_NAME: 'cifar10'
    ROOT_PATH: 'data/cifar-10'
    TRAIN_SPLIT: 'train'
    VAL_SPLIT: 'val'
    TOY: True

NETWORK:
    PRETRAINED_MODEL: ''
    PRETRAINED_LOADING_METHOD: 'standard'
    MAIN:
        LAYERS:
            - 4
            - 4
            - 4
        CONV_LAYER: 'conv3x3'
        BLOCK: 'BasicBlock'
        NUM_CLASS: 10
    PARALLEL:
        SWITCH: False
    LIGHT:
        LAYERS:
            - 4
            - 4
            - 4
        SWITCH: False
        CONV_LAYER: 'conv1x1'
        BLOCK: 'BasicBlock'
    HEAVY:
        LAYERS:
            - 4
            - 4
            - 4
        SWITCH: False
        CONV_LAYER: 'conv5x5'
        BLOCK: 'BasicBlock'

TRAIN:
    BATCH_IMAGES: 256
    LR: 0.1
    MOMENTUM: 0.9
    WEIGHT_DECAY: 0.0001
    OPTIMIZER: 'SGD'
    LR_STEPS:
        - 60
        - 120
        - 160
    LR_DECAY: 0.2
    ASPECT_GROUPING: False
    SHUFFLE: True
    BEGIN_EPOCH: 0
    END_EPOCH: 200

VAL:
    BATCH_IMAGES: 256
    SHUFFLE: False
