---
RNG_SEED: 1
MODULE: 'cifar_resnet101'
GPUS: '1,2,3,4'
NUM_WORKERS_PER_GPU: 1
VERSION: 'cifar100_cresnet101_AH50_max_retrain'
ALPHA: 0.5
TEMPERATURE: 5
USE_KD_LOSS: True
KD_LOSS_FUNCTION: 'loss_fn_kd'

DATASET:
    DATASET_NAME: 'cifar100_original'
    ROOT_PATH: 'data/cifar-100'
    TRAIN_SPLIT: 'train'
    VAL_SPLIT: 'val'
    TOY: True

NETWORK:
    PRETRAINED_MODEL: ''
    PRETRAINED_LOADING_METHOD: 'standard'
    TRAINING_STRATEGY: 'AdditionalHeads'
    NUM_ADDITIONAL_HEADS: 1
    ADDITIONAL_MASK_FUNCTIONS:
        - 'generate_additional_head_masks_to_res50'
    MAIN:
        NUM_CLASS: 100

TRAIN:
    BATCH_IMAGES: 128
    LR: 0.1
    MOMENTUM: 0.9
    WEIGHT_DECAY: 0.0005
    OPTIMIZER: 'SGD'
    LR_STEPS:
        - 60
        - 120
        - 160
        - 200
        - 220
        - 240
        - 250
        - 260
        - 265
        - 270
    LR_DECAY: 0.2
    ASPECT_GROUPING: False
    SHUFFLE: True
    BEGIN_EPOCH: 0
    END_EPOCH: 300

VAL:
    BATCH_IMAGES: 128
    SHUFFLE: False
