---
RNG_SEED: -1
MODULE: 'resnet26'
GPUS: '1,2,3,4'
NUM_WORKERS_PER_GPU: 4
VERSION: 'resnet-adaptive-finetune'
NUM_CLASSES: 1000

DATASET:
    DATASET_NAME: 'imagenet12'
    ROOT_PATH: 'data/decathlon-1.0/'
    TRAIN_SPLIT: 'train'
    VAL_SPLIT: 'val'
    TOY: True

TRAIN:
    BATCH_IMAGES: 128
    LR: 0.0008
    MOMENTUM: 0.9
    WEIGHT_DECAY: 0.0001
    OPTIMIZER: 'SGD'
    LR_SCHEDULER: 'StepLR'
    ASPECT_GROUPING: False
    SHUFFLE: True
    BEGIN_EPOCH: 0
    END_EPOCH: 110
    STEP_SIZE: 30
    GAMMA: 0.1

VAL:
    BATCH_IMAGES: 128
    SHUFFLE: False
