---
RNG_SEED: -1
MODULE: 'resnet34'
GPUS: '1,2,3,4'
NUM_WORKERS_PER_GPU: 4
VERSION: 'resnet34_from_pretrained18_standard'

DATASET:
    DATASET_NAME: 'imagenet'
    ROOT_PATH: 'data/Imagenet'
    TRAIN_SPLIT: 'train'
    VAL_SPLIT: 'val'
    TOY: True

NETWORK:
    PRETRAINED_MODEL: 'ckpts/original_imagenet_original_resnet18'
    PRETRAINED_LOADING_METHOD: 'standard'
    MAIN:
        LAYERS:
            - 4
            - 4
            - 4
        CONV_LAYER: 'conv3x3'
        BLOCK: 'BasicBlock'
        NUM_CLASS: 1000
    PARALLEL:
        SWITCH: False
    LIGHT:
        LAYERS:
            - 4
            - 4
            - 4
        SWITCH: False
        CONV_LAYER: 'conv1x1'
        BLOCK: 'BasicBlock'
    HEAVY:
        LAYERS:
            - 4
            - 4
            - 4
        SWITCH: False
        CONV_LAYER: 'conv5x5'
        BLOCK: 'BasicBlock'

TRAIN:
    BATCH_IMAGES: 128
    LR: 0.0008
    MOMENTUM: 0.9
    WEIGHT_DECAY: 0.0001
    OPTIMIZER: 'SGD'
    LR_STEPS:
        - 30
        - 60
        - 90
    LR_DECAY: 0.1
    ASPECT_GROUPING: False
    SHUFFLE: True
    BEGIN_EPOCH: 0
    END_EPOCH: 110

VAL:
    BATCH_IMAGES: 128
    SHUFFLE: False
